<h1>Sound Dashboard</h1>

<script>
$(function () {
  $('#container').highcharts({
    chart: {
      type: 'area'
    },
    title: {
      text: "Rooms"
    },
    xAxis: {
      allowDecimals: false,
      labels: {
        formatter: function () {
          return this.value;
        }
      }
    },
    yAxis: {
      title: {
        text: 'decibels'
      },
      labels: {
        formatter: function () {
          return this.value * 10;
        }
      }
    },
    tooltip: {
      pointFormat: '{point.y}'

    },
    plotOptions: {
      area: {
        pointStart: 8.00,
        marker: {
          enabled: false,
          symbol: 'circle',
          radius: 2,
          states: {
            hover: {
              enabled: true
            }
          }
        }
      }
    },
    series: [{
      name: "<%= @rooms.first.name %>",
      data: [2, 5, 3, 6, 7, 9, 8, 6, 4]
    }, {
      name: "<%= @rooms.second.name%>",
      data: [4, 6, 5, 5, 6, 7, 4, 3, 2]
    }, {
      name: "<%= @rooms.third.name%>",
      data: [2, 4, 3, 4, 6, 5, 4, 2, 1]
    }]
  });
});
</script>

<div id="container"></div>
<% @rooms.each do |room| %>

<% end %>

<%= link_to 'Sign in', admin_rooms_path %>
